<div class="container">
  <div class="row">
    <div class="col-auto offset-1">
      <h5>商品一覧</h5>
    </div>
    <div class="col-auto offset-9">
      <%= link_to "+", new_admin_item_path, class: "btn btn-default rounded-circle shadow-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col-11 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
          <tbody>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.category.name %></td>
              <td>
                <% if item.is_active == true %>
                  <p class="text-success">販売中</p>
                <% else %>
                  <p class="text-secondary">販売停止中</p>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

