<div class="container">
  <div class="row">
    <div class="col-auto">
      <h5>商品一覧</h5>
    </div>
    <div class="col float-right">
      <%= link_to "+", new_admin_item_path %>
    </div>
    <div class="row mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
          <tbody>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.category.name %></td>
              <td><%= item.is_active %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
