<div class="container">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">
      <h3>注文履歴一覧</h3>
    </div><br><br><br>

      <div class="col-xs-offset-1">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払総額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>

        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d')%></td>
            <td><%= @order.postal_code %><br>
                <%= orders.address %><br>
                <%= orders.name %>
            </td>

            <td>
            <% orders.order_items.each do |order_item| %>
            <%= order_items.item_id %><br><% end %>
            </td>

            <td><%= orders.total_payment.to_s(:delimited) %>円</td>

            <td><%= orders.status_i18n %></td>

            <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>