<div class="container">
  <div class="row">
    <div class="col-auto offset-1">
      <h5>注文情報入力</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
        <label for="input_payment_method", class="row"><strong>支払方法</strong></label>
        <%= f.radio_button :payment_method, 'credit_card' %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
        <%= f.radio_button :payment_method, 'transfer' %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

        <label for="input_address", class="row"><strong>お届け先</strong></label>
        <div class="row">
          <div class="col">
            <%= f.radio_button :select_address, "0"  %>
            <%= f.label :address, "ご自身の住所" %>
          </div>
          <div class="col">
            <%= f.label :address, current_customer.full_address %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.radio_button :select_address, "1" %>
            <%= f.label :address, "登録済み住所から選択" %>
          </div>
          <div class="col">
            <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :full_address) %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.radio_button :select_address, "2" %>
            <%= f.label :address, "新しいお届け先" %>
          </div>
          <div class="col">
            <div class="row">
            <label class="col">郵便番号（ハイフンなし）</label>
            <div class="col">
              <%= f.text_field :postal_code %>
            </div>
          </div>
          <div class="row">
            <label class="col">住所</label>
            <div class="col">
              <%= f.text_field :address %>
            </div>
          </div>
          <div class="row">
            <label class="col">宛名</label>
            <div class="col">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>
        <div class="row">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary col-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>