
<div class="container my-5">
  <div class="row">
    <div class-"offset-1">
      <h3 class="red-border px-3">注文履歴詳細</h3>
    </div>


    <div class="col-md-4">
      <p class="mb-4 pb-1 mt-3"></p>
        <table class="table table-bordered table-condensed">
            <tr>
                <p class="mb-4 pb-2"><strong>注文情報</strong></p>
              <td class="info border border-dark table-active">
                注文日
              </td>
              <td class="col-xs-5 border border-dark">
                 <%= l @order.created_at %>
              </td>
            </tr>
            <tr>
              <td class="info border border-dark table-active">配送先</td>
              <td class="col-xs-5 border border-dark">
                〒<%= @order.postal_code%>
                <br><%= @order.address %>
                <br><%= @order.name %>
              </td>
            </tr>

            <tr>
              <td class="info border border-dark table-active">支払方法</td>
              <td class="col-xs-5 border border-dark"> <%= @order.payment_method %></td>
            </tr>

            <tr>
              <td class="info border border-dark table-active">ステータス</td>
              <td class="col-xs-5 border border-dark"> <%= @order.status %></td>
            </tr>
        </table>
    </div>



    <div class="col-md-4">
      <p class="mb-4 pb-1 mt-3"></p>
          <p class="mb-4 pb-2"><strong>請求情報</strong></p>
        	<table class="table table-bordered table-condensed">
            <tr>
              <td class="info border border-dark table-active">商品合計</td>
              <td class="col-xs-5 border border-dark"> <%= (@order.total_payment - @order.postage).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="info border border-dark table-active">配送料</td>
              <td class="col-xs-5 border border-dark"> <%= @order.postage.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th class="info border border-dark table-active">ご請求金額</th>
              <td class="col-xs-5 border border-dark"> <%= (@order.total_payment - @order.postage + @order.postage).to_s(:delimited) %></td>
            </tr>
          </table>
    </div>

      <div class="col-md-10">
      	<p class="mb-4 pb-1 mt-3"><strong>注文内容</strong></p>
          <table class="table table-bordered table-condensed cutomer-order-detail">
      	      <tr>
      	      	<th class="border border-dark table-active price">商品</th>
      	        <th class="border border-dark table-active price">単価(税込)</th>
      	      	<th class="border border-dark table-active quantity">個数</th>
      	      	<th class="border border-dark table-active total_price">小計</th>
      	      </tr>

                <% @order.order_items.each do |order_items| %>
                          <tr>
                	          <td class="border border-dark"><%= order_items.item.name %> </td>
                	          <td class="text-right border border-dark"><%= (order_items.price).to_s(:delimited) %></td>

                	          <td class="text-right border border-dark"><%= order_items.quantity %></td>
                	          <td class="text-right border border-dark"><%= (order_items.price*order_items.quantity).to_s(:delimited) %></td>
                          </tr>
                <% end %>
          </table>
      </div>
  </div>
</div>
