<div class='container px-5'>
  <div class='row'>
    <div class='mx-auto col-7 py-3'>

      <div class="row mb-5">
        <h4>ログイン</h4>
      </div>

      <div class="row mb-5">
          <h5 class="mb-4">会員の方はこちらからログイン</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row mb-3">
              <%= f.label :email, "メールアドレス", class: "offset-1 col-3 col-form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-8 form-control-sm', placeholder: "sample@example.com" %>
            </div>

            <div class="row mb-4">
              <%= f.label :password, "パスワード", class: "offset-1 col-3 col-form-label" %>
              <%= f.password_field :password, autocomplete: "current-password", class: 'col-8 form-control-sm' %>
            </div>

            <div class="d-grid gap-2 col-4 mx-auto">
              <%= f.submit "ログイン" ,class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>


       <div class="row">
          <h5 class="mb-4">会員登録がお済でない方</h5>
          <div class="offset-1">
          <%= link_to "こちら", new_customer_registration_path %> &ensp; から新規登録を行ってください。
          </div>
       </div>

    </div>
  </div>
</div>
