<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'public/items/category_search', category: @categories %>
    </div>
    <div class='col-md-9 offset-md-1'>
      <h4>商品一覧 （全<%= @items.count %>件）</h4>
      <% @items.each do |items| %>
        <div class="col-lg-2 item">
          <%= attachment_image_tag items, :image %>

          <%= link_to items.name, item_path(items), class: "items_#{items.id}" %>
          <!--item.rbでの計算結果を3桁ごとにカンマ区切りで表示-->
          ￥<%= items.add_tax_price.to_s(:delimited) %> （税込）
        </div>
      <% end %>
      </ul>
      <%= paginate @items %>
    </div>
  </div>
</div>