<div class='container-field'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'public/items/category_search', category: @categories %>
    </div>
    <div class='col-md-2 offset-md-1'>
      <%= attachment_image_tag @item, :image, size: "240x180" %>
    </div>
    <div class='col-md-6 offset-md-1'>
      <h4><strong><%= @item.name %></strong></h4>
      <h5><%= @item.explanation %><br /></h5>
      <!--item.rbでの計算結果を3桁ごとにカンマ区切りで表示-->
      <h4>￥<%= @item.add_tax_price.to_s(:delimited) %>（税込）</h4>
    </div>
  </div>
</div>