<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"><span>ながのCAKE</span></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li><%= link_to 'マイページ', customer_my_page_path(current_user), class: 'nav-link text-dark' %></li>
            <li><%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %></li>
            <li><%= link_to 'カート', books_path, class: 'nav-link text-dark' %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
          <% else %>
            <li><%= link_to 'about', homes_about_path, class: 'btn btn-outline-light btn-sm btn-block nav-link text-dark' %></li>
            <li><%= link_to '商品一覧', items_path, class: 'btn btn-outline-light btn-sm btn-block nav-link text-dark' %></li>
            <li><%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-outline-light btn-sm btn-block nav-link text-dark' %></li>
            <li><%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-outline-light btn-sm btn-block nav-link text-dark' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>